<mat-nav-list>
    <div class="logo py-4">
        <img src="../.././assets/netflix-logo-.png" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLink="home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Users
    </a>
    <a mat-list-item routerLink="dashboard"  routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>Add Slider
    </a>
    <a mat-list-item routerLink="movies" routerLinkActive="list-item-active">
        <mat-icon>movies</mat-icon>Add Movies
    </a>
    <a mat-list-item>
        <mat-icon>edit</mat-icon>Link 2
    </a>

</mat-nav-list>