 <mat-toolbar>
    <mat-toolbar-row class="justify-contant-between">
    <button class="menu" mat-icon-button (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>
    <div class="row mr-2 ml-auto">
      <ul>
        <li>
            <button  mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
                <img src="../../assets/user-png.png" class="user-image mr-1 p-2"/>
                {{userName}}
                <button class="btn btn-danger btn-sm logout" (click)="logOut()">LogOut</button>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                   <mat-icon>Exist to App</mat-icon>
                   Logout
                </button>
            </mat-menu>
        </li>
      </ul>
    </div>
    </mat-toolbar-row>
</mat-toolbar> 

